@{
    ViewData["Title"] = "Home Page";
}

<h1>Choose Your Faction</h1>

<div style="margin:10px">
    <button>Adeptus Astra Telepathica</button>

</div>

<div style="margin:10px">
        @Html.ActionLink("Adeptus Mechanicus", "Divinations", "Home", new CharacterViewModel("Adeptus Mechanicus"));
</div>

<div style="margin:10px">
    <button>Adeptus Administratum</button>

</div>

<div style="margin:10px">
    <button>Adeptus Militarum</button>

</div>

<div style="margin:10px">
    <button>Adeptus Ministorum</button>

</div>

<div style="margin:10px">
    <button>The Inquisition</button>

</div>

<div style="margin:10px">
    <button>Imperial Fleet</button>

</div>

<div style="margin:10px">
    <button>Infractionist</button>

</div>

<div style="margin:10px">
    @Html.ActionLink("Rogue Trader Dynasty", "Divinations", "Home", new CharacterViewModel("Rogue Trader Dynasty"));
</div>

<script>

</script>